<%- include('../partials/header'); -%>
<%- include('../partials/menu') %>
<body>
  <main>
    <br><br><br><br>
      <div class="container">
        <p style="word-wrap: break-word;">CTAM is a proof of concept application.  We are looking for funding so that we can create a new start up business to continue to develop CTAM.  These are a list of features we would like to develop based on the feedback we have received from our beneficiary interviews.  CTAM proof of concept is architected with adding these features in mind.</p>
        <ul style="word-wrap: break-word;">
            <li>A Fully functioning log in system.</li>
            <ul>
                <li>This will ensure application security.</li>
                <li>Ensure that a user can only edit their own profile</li>
                <li>Ensure that a commanding officer will be the only one able to approve pending competency requests</li>
            </ul>
            <li>Add functionality to edit and update a personnel’s information</li>
            <li>Add functionality to update competency information</li>
            <li>Recommend an optimized assemblance of a ACE (Agile Combat Employment) team</li>
            <ul>
                <li>Would ultimately be left to the user’s discretion</li>
                <li>Would speed team making decisions</li>
                <li>Could be implemented using AI for assembling different types of teams</li>
            </ul>
            <li>Recommend training requirements to fulfill optimized assemblance of teams</li>
            <li>Add additional searching functionality to find whatever it is you need within the database.</li>
            <li>The ability for a personnel to take a picture of a certificate, application verifies authenticity of certificate, and immediately adds that competency to that person (skipping the pending request)</li>
        </ul>
      </div>
  </main>
<%- include('../partials/footer'); -%>