<%- include('../partials/header'); -%>
<%- include('../partials/menu') %>
<body>
  <main>
      <center><img src="../../resources/img/ctam_camo.jpg"></center>
  </main>
<%- include('../partials/footer'); -%>

