<br><br><br>
</body>
  <div class="" style="background-color: #0f415c; bottom: 10px;width: 100%;">
    <div class="container-fluid" style="padding: 0.25%; color: white;">
      <p style="word-wrap: break-word;">This application was designed, architected, and coded by Riley O'Byrne.
      For any questions about the application, code, help, ect. please reach out to him. </p>
      <p style="word-wrap: break-word;">Email:  riob0377@colorado.edu Phone:  303-910-0624</p>
    </div>
  </div>
</html>